@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;

}

a,
.green {
  text-decoration: none;
  color: rgb(206, 206, 206);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    display: grid;
    grid-template-columns: 1fr;  /* 單欄 */
    justify-items: center;       /* 水平置中 */
    gap: 20px;                   /* 卡片間距 */
    /* max-width: 500px; */
    margin: 0 auto;
    padding: 0 2rem;
  }

  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
